{% extends "base.html" %}

{%  block content %}
            <h1>My Events List</h1>

            <form action="/events" method="post">
                <label for="date">Date</label>
                <input type="text" name="date" id="date">

                <label for="name_of_event">Name</label>
                <input type="text" name="name_of_event" id="name">

                <label for="location">Location</label> 
                <input type="text" name="location" id="location">
                
                
                <label for="number_of_guests">Number of Guests:</label>   
                <input type="text" name="number_of_guests" id="number_of_guests">

                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="2"></textarea>
                <input type="submit" value="Add Event">
                
            </form>

            {%  for event in events %}
            <div>
                <p>
                    <b>Date:</b> {{event.date}} <b>Event:</b>{{event.name}} <b>Capacity:</b>:{{event.number_of_guests}} <b>Venue:</b>{{event.location}}, <b>Description</b>:{{event.description}} 
                
                    {% if event.recurring%}
                    <span> &#9989; </span>
                    {% endif %}
                </p>
            </div>
            {% endfor %}
{% endblock %}