{% extends "base.html" %}

{%  block content %}
            <h1>My Events List</h1>

            <form action="/events" method="post">
                <label for="date">Date</label>
                <input type="text" name="date" id="date">

                <label for="name_of_event">Name</label>
                <input type="text" name="name_of_event" id="name">

                <label for="location">Location</label> 
                <input type="text" name="location" id="location">
                
                
                <label for="number_of_guests">Number of Guests:</label>   
                <input type="text" name="number_of_guests" id="number_of_guests">

                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="2"></textarea>
                <input type="submit" value="Add Event">
                
            </form>

            {%  for event in events %}
            <div>
                <p>
                    <b>Date: {{event.date}} Event:{{event.name}} Capacity:{{event.number_of_guests}} Venue:{{event.location}}, Description:{{event.description}} </b>

                </p>
            </div>
            {% endfor %}
{% endblock %}